<h2 style="margin-left: 22px;">
    {{ lang['total_records'] }}: {{ total_records }}
    [<a href="{{ send_all_worker_uri }}">{{ lang['send1k']|raw }}</a>]
    [<a href="{{ visible_worker_uri }}">{{ lang['make_visible']|raw }}</a>]
</h2>
