{% set variantsChecked = false %}
<div class="tags-grid">
    <div class="tags-toggle">
        {% if initiallyShowOnlyChecked %}
            <span data-purpose="show-all">{{ form_lang['tag.show_all'] }}</span>
        {% endif %}
        {% if multiple and not hideAllToggle %}
            <span data-purpose="toggle-on">{{ form_lang['tag.toggle_on'] }}</span>
            <span data-purpose="toggle-off">{{ form_lang['tag.toggle_off'] }}</span>
        {% endif %}
        {% if showSearch %}
            <div class="tags-search"><input type="search" placeholder="{{ form_lang['tag.search_placeholder'] }}" /></div>
        {% endif %}
    </div>
    <ul class="tags-grid-inner {% if initiallyShowOnlyChecked %}tags-grid-inner--initially-checked{% endif %}" {% if columns %}data-columns="{{ columns }}" style="columns: {{ columns }};"{% endif %}>
        {% for o in variants %}
            {% if initiallyShowOnlyChecked and o['attributes']['checked'] %}
                {% set classTag = 'class="initially-checked"' %}
                {% set variantsChecked = true %}
            {% else %}
                {% set classTag = '' %}
            {% endif %}
        <li {{ classTag }}>
            <input {{ o['attributesStr']|raw }}>
            {{ o['outerPrefix'] }}<label for="{{ o['attributes']['id'] }}">{{ o['innerPrefix'] ~ o['title'] ~ o['innerSuffix'] }}</label>{{ o['outerSuffix'] }}
        </li>
        {% endfor %}
    </ul>
    {% if initiallyShowOnlyChecked and not variantsChecked %}
        <div class="tags--none-selected">{{ form_lang['tag.none_selected'] }}</div>
    {% endif %}
</div>

{% if ableToAddNew %}
    <div class="new-tag">
        <input type="text" name="{{ field ~ NEW_FIELD_SUFFIX }}" value="" placeholder="{{ form_lang['tag.enter_new'] }}">
    </div>
{% endif %}
