<div class="tags-grid">
    {% if multiple and not hideAllToggle %}
    <div class="tags-toggle">
        <span data-purpose="toggle-on">{{ form_lang['tag.toggle_on'] }}</span>
        <span data-purpose="toggle-off">{{ form_lang['tag.toggle_off'] }}</span>
    </div>
    {% endif %}
    <ul class="tags-grid-inner" {% if columns %}data-columns="{{ columns }}" style="columns: {{ columns }};"{% endif %}>
        {% for o in variants %}
        <li>
            <input {{ o['attributesStr']|raw }}>
            {{ o['outerPrefix'] }}<label for="{{ o['attributes']['id'] }}">{{ o['innerPrefix'] ~ o['title'] ~ o['innerSuffix'] }}</label>{{ o['outerSuffix'] }}
        </li>
        {% endfor %}
    </ul>
</div>

{% if ableToAddNew %}
    <div class="new-tag">
        <input type="text" name="{{ field ~ NEW_FIELD_SUFFIX }}" value="" placeholder="{{ form_lang['tag.enter_new'] }}">
    </div>
{% endif %}
