{% if records|length > 0 %}
	<ul class="table-edit-log">
	{% set colspan = options['show_only_diff'] ? 1 : 4 %}
	{% for rec in records %}
		<li>
			<div class="author">
				<b>{% if admins[rec['admin_id']].exists() %}<a href="{{ admins[rec['admin_id']]['admin_href'] }}">{% endif %}{{ admins[rec['admin_id']]['login'] ?: 'Robot' }}{% if admins[rec['admin_id']].exists() %}</a>{% endif %}</b>
				<i>{{ rec['created_at_date'] }} {{ rec['created_at_time'] }}</i>
			</div>
			<table>
				{% for field, value in rec.getOldValues() %}
					<tr>
						<th colspan="{{ colspan }}">{{ field }}</th>
					</tr>
					<tr>
						{% if not options['show_only_diff'] %}
						<td>{{ options['strip_tags'] ? value|striptags('<ins><del>') : value }}</td>
						<td>&raquo;</td>
						<td>{{ options['strip_tags'] ? rec.getNewValues(field)|striptags('<ins><del>') : rec.getNewValues(field) }}</td>
						{% endif %}
						<td>{{ options['strip_tags'] ? rec.getDataDiff(field)|striptags('<ins><del>')|raw : rec.getDataDiff(field)|raw }}</td>
					</tr>
				{% endfor %}
			</table>
		</li>
	{% endfor %}
	</ul>
{% else %}
	<div>
        {% if X.getLanguage() == 'ru' %}История изменений пуста{% else %}Changes log is empty{% endif %}
	</div>
{% endif %}