<form name="admin_login" method="post" action="{{ _tech['current_uri'] }}">
	{% block back_url %}
	<input type="hidden" name="back" value="{{ _tech['current_uri'] }}">
	{% endblock %}
	{% block before_form %}{% endblock %}

	{% block form %}
	<div class="login-form">
		{% if login_errors['password'] %}
			<div class="error">{{ login_errors['password'][_tech['site_language']] }}</div>
		{% endif %}
		<div>
			<input type="text" name="admin_login" placeholder="Login" value="{{ login_credentials['login'] }}">
		</div>
		<div>
			<input type="password" name="admin_password" placeholder="Password">
		</div>
		<div>
			<input type="checkbox" name="admin_remember" id="admin_remember" value="1" checked="checked">
			<label for="admin_remember">{{ lang['remember_me'] }}</label>
		</div>
		<div>
			<button type="submit">{{ lang['sign_in'] }}</button>
		</div>
	</div>
	{% endblock %}

	{% block after_form %}{% endblock %}
</form>

{% block forgotten_password %}
{#
<div class="forgotten"><a href="#">Забыли пароль?</a></div>
#}
{% endblock %}
