<div class="login-form-wrapper">
    {% block before_form_title %}
    {% if _tech['site_logo'] %}
        <div class="site-logo"><img src="{{ _tech['site_logo'] }}" alt="{{ _tech['site_title'] }}"></div>
    {% else %}
        <div class="site-title">{{ _tech['site_title'] }}</div>
    {% endif %}
        {% block form_description %}
        <div class="description">{{ lang['logo_description'] }} v{{ _tech['xx_version'] }}</div>
        {% endblock %}
    {% endblock %}

    {% include 'admin/login/form.html.twig' %}

    {% block after_form_to_site %}
    <div class="to-home"><a href="../" target="_blank">{{ lang['go_to_site'] }}</a></div>
    {% endblock %}

    {% block after_form_contacts %}
    <div class="contacts">
        {{ lang['support'] }}:
        {% if _tech['cms_support_email'] %}
            <a href="mailto:{{ _tech['cms_support_email'] }}">{{ _tech['cms_support_email'] }}</a>
        {% endif %}
    </div>
    {% endblock %}
</div>
