<!DOCTYPE html>
<html>

{% if X.hasHeadPrinter() %}
    {{ X.getPrintedHead() }}
{% else %}
    {% include 'admin/_index/head.html.twig' %}
{% endif %}

<body data-skin="{{ _tech['admin_skin'] }}" data-subfolder="{{ _tech['site_subfolder'] }}" data-language="{{ _tech['site_language'] }}"
data-floating-submit="{{ _settings['floating_submit'] }}">

<div class="admin-layout">

    <div class="logo"><b>{{ _tech['cms_name'] }} {{ _tech['xx_version'] }}</b><div class="menu-toggle"></div></div>

    <div class="head">
        <div class="site-title">{{ _tech['site_title'] }}</div>
        <div class="head-links">
            <a href="{{ _tech['site_path'] }}" class="head-href button-with-icon home-link" target="_blank">{{ lang['go_to_site'] }}</a>
            <a href="{{ _tech['logout_href'] }}" class="head-href button-with-icon logout">{{ lang['sign_out'] }}</a>
            <div class="head-auth-info button-with-icon">
                <span class="login">{{ admin['login'] }}</span>
                <span class="level">{{ admin['level_str'] }}</span>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="menu-panel">
            <div class="search">
                <input type="search" name="search_menu" placeholder="{{ lang['menu.search'] }}">
                {#
                <span class="reset"></span>
                #}
            </div>
            <span data-purpose="expand" title="{{ lang['menu.expand_all'] }}">+</span>
            <span data-purpose="collapse" title="{{ lang['menu.collapse_all'] }}">&ndash;</span>
        </div>
        <ul class="left-menu">{% include 'admin/_index/_parts/left-menu.html.twig' %}</ul>
    </div>

    <div class="content">
        <div class="caption">
            <b>{{ caption.get()|raw }}</b>
            {% if caption.hasButtons() %}
                <span class="buttons">{{ caption.getButtons()|raw }}</span>
            {% endif %}
            {% if X.captionHelpNeeded() %}
                <a class="caption--help" href="{{ X.getHelpHref() }}" target="_blank">Помощь</a>
            {% endif %}
        </div>

        {{ _page|raw }}
    </div>

</div>

{% if X.footerNeeded() %}
    {% include 'admin/_index/_parts/footer.html.twig' %}
{% endif %}

{% include 'admin/_index/_parts/static_injections.html.twig' %}

</body>
</html>
