<div class="list-control-panel" data-table="{{ table }}">
    <ul>
        <li data-purpose="caption">{{ List.L('choose_action') }}:</li>
        <li data-purpose="copy"><button type="button" data-purpose="copy">{{ List.L('copy') }}</button></li>
        <li data-purpose="move"><button type="button" data-purpose="move">{{ List.L('move') }}</button></li>
        <li data-purpose="delete"><button type="button" data-purpose="delete">{{ List.L('delete') }}</button></li>
    </ul>
    <div class="toggle-all"><input type="checkbox" id="toggle-all"><label for="toggle-all">{{ List.L('toggle_all') }}</label></div>
    {% if X.expandCollapseBlockNeeded() %}
        <div class="expand-collapse-block" data-table="{{ _tech['xx_table'] }}">
            <u data-action="collapse"></u>
            <u data-action="expand"></u>
        </div>
    {% endif %}
    <div class="notes">{{ List.L('notes_about_children') }}</div>
</div>
