{{ filters|raw }}

{{ before_table|raw }}

<ul class="{% block wrapper_class %}admin-grid{% endblock %}" data-role="admin-grid" data-table="{{ table }}"{% block wrapper_attributes %}{% endblock %}>
	{% block before_rows %}{% endblock %}
	{% for row in rows %}
	{% block row_contents %}
	<li data-id="{{ row['id'] }}" data-role="row"{% block row_attributes %}{% endblock %}>
		{% block tn %}<div class="tn"><a href="{{ row.getRelated('edit_href') }}"><img src="{{ row['pic_tn'] ? row.getRelated('img_url_prefix') ~ row['pic_tn'] : row['pic_tn_safe'] }}"></a></div>{% endblock %}
		{% block before_title %}{% if row['token'] %}<div class="token">Токен для вставки: <b>{{ row['token'] }}</b></div>{% endif %}{% endblock %}
		{% block title %}
			<div class="title">
				{% block title_prefix %}{% endblock %}
                {% block title_element %}{{ row['title'] }}{% endblock %}
				{% block title_suffix %}{% endblock %}
			</div>
		{% endblock %}
		{% block after_title %}{% endblock %}
		{% block buttons %}<div class="buttons-panel">{{ row.getRelated('buttons')|join(' ')|raw }}</div>{% endblock %}
	</li>
	{% endblock %}
	{% endfor %}
	{% block after_rows %}{% for i in 1..3 %}<li class="layout-helper"></li>{% endfor %}{% endblock %}
</ul>

{{ after_table|raw }}

{{ navy|raw }}
